$dark-Cyan: hsl(185, 75%, 39%)
$very-Dark-Desaturated-Blue: hsl(229, 23%, 23%)
$dark-Grayish-Blue: hsl(227, 10%, 46%)
$dark-Gray: hsl(0, 0%, 59%)
*
    margin: 0
    padding: 0
body
    font-family: 'kumbh Sans', sans-serif
    background: $dark-Cyan
    // de esta manera se colocan iagenes svg de fondo y ademas mas de una imagen de fondo
    background-image: url('../images/bg-pattern-top.svg'), url('../images/bg-pattern-bottom.svg')
    background-repeat: no-repeat
    // ahora vamos a posicionar de manera distinta cada una de las imagenes de fondo
    background-position: right 50vw bottom 50vh, left 50vw top 50vh
    .container
        font-size: 18px
        display: flex
        justify-content: center
        align-items: center
        height: 100vh
    .card
        background: white
        max-width: 353px
        border-radius: 15px
        overflow: hidden
        box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.3)
        &-img
            width: 100%
        &-body
            border-bottom: 1px solid $dark-Grayish-Blue
            display: flex
            flex-direction: column
            align-items: center
            img
                border-radius: 50%
                margin-top: -55px
                border: 5px solid white
            &-content
                margin-top: 20px
                display: flex
                font-size: 18px
                .name
                    font-weight: 700
                    .age
                        font-weight: 300
            &-city
                font-weigth: 300
                margin-top: 10px
                margin-bottom: 30px
        &-footer
            display: flex
            justify-content: space-around
            padding: 30px
            &-social
                text-align: center
                .text
                    font-weight: 300
                    font-size: 12px
                    letter-spacing: 2px

    .attribution
        display: flex
        align-items: flex-end
        justify-content: center
